<!DOCTYPE html>
<html>
    <head>
        <title>
            
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    </head>
    <body class="container">
        <div class="row" style="justify-content: space-around;">
            <a href="./index.html" class="col-sm-1" role="button"><i data-feather="home"></i>Home</a>
        </div>
        <!-- Content goes here -->
        <div class="row" style="justify-content: space-between;">
            <a href="#" class="col-sm-1" role="button"><i data-feather="arrow-left"></i>Previous</a>
            <a href="#" class="col-sm-1" role="button">Next<i data-feather="arrow-right"></i></a>
        </div>
        <footer>
            <p>By: Mukul Paras Potta</p>
            <p>Using HTML5 and mini.css</p>
        </footer>
        <script>
            feather.replace({"width":"20", "height":"20"});
        </script>
    </body>
</html>